.card {
  width: 6%;
  margin: 0 auto;
  border-radius: 7px;
  cursor: pointer;
  transition: all 1s ease;
  position: relative;
  border: 1px solid #ccc;
  font-weight: 600;
  font-size: 11px;

  p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 4px;
  }

  img {
    width: 86%;
    height: 56%;
    border-radius: 7px;
  }

  .buttons-for-adding {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 30%;
  }

}

.male-dead-color {
  background-color: #E1F1F6;
}

.male-alive-color {
  background-color: #BEEBFA;
}

.female-dead-color {
  background-color: #FCE2E2;
}

.female-alive-color {
  background-color: #FFCDCD;
}