.avatar {
  height: 100px;
  margin-bottom: 8px;
}


.ant-modal-header {
  margin-right: 10px;
}

.create-person-button {
  display: flex;
  justify-content: center;
}

.buttons {
  display: flex;
  justify-content: end;

  .delete-button {
    margin-right: 10px;
  }
}